extends ../layout
block content 
  p *If you already have an account, you will be signed in*
    form(action="/users/uName" method="POST")
      input(value=user name='userId' readonly type='hidden')
      br
      label(for='uName') Enter a Username:
      input.form-control(type='text' name='uName')
      button(type="submit") Create Account
