extends ../layout
block content
  a(href='/auth/facebook')
    .facebookDiv
      img(src='/images/facebookIcon.png')
      span Log in with Facebook
  .center
    h2 Click the button above to automatically verify your identity using Facebook - you will be prompted to create a username if you do not already have an account. 
