div#header
  a(href='/')
    img(src="images/plLogo.png")
div#nav
  ul
    a(href='/music')
      li#firstNav Music
        ul#drop
          li Discography 
          li Songs
    li Pictures
    li Videos
      ul#drop
        li Music Videos 
        li Live Videos
    li Shows
      ul#drop
        li Setlists
        li Venues
        a(href='/tour')
          li Upcoming
    li Archive
      ul#drop
        li Setlists 
    li Market
    li Forum 
    li Blog
