div#header
  a(href='/')
    img(src="images/plLogo.png")
div#nav
  ul
    a(href='/music')
      li#firstNav Music
    li Pictures
    li Videos
    a(href='/tour')
      li Calendar
    li Archive
    li Market
    li Forum 
    li Blog
