extends layout

block content
  
    
  
  //- script initialize()
  //- script console.log(coords)
  
  //- script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDwck7IiC3BVAVchCkK_RTqP026SKUKPbg&callback=initMap')
