body {
  padding-top: 20px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#header{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#header img{
  margin: 0 auto;
  height: 10vh;
}

#nav{
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#nav ul{
  list-style: none;
  text-align: center;
}

#nav li{
  display: inline;
  margin-right: 1vw;
  /*margin-left: 1vw;*/
  padding: 14px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.2em;
}

#nav li:hover{
  background-color: black;
  color: white;
}

#firstNav{
  margin-left: -.5vw;
}

#banner{
  margin: 0 auto;
  text-align: center;
}
#banner img{
  width: 92vw;
}

.tourDate{
  border-top: 1px solid black;
  padding-left: 10vw;
  position: relative;
}

.tourDate:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.tourDateLeft{
  display: inline-block;
}
.tourDateRight{
  display: inline-block;
  position: absolute;
  left: 40vw;
  bottom: -5px;
}

.tourTime{
  position: absolute;
  display: inline-block;
  right: 10vw;
  bottom: 20px;
}

#tourHead{
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100vw;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#tourText{
  font-weight: normal;
}

#tourVenue{
  font-weight: bolder;
  font-size: 2em;
}

#albumHeader{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  clear: both;
  text-align: center;
}

#albumContainer{
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

#album{
  display: inline-block;
  margin: 20px;
  margin-bottom: 0;
  width: 15vw;
  font-size: .9em;
  vertical-align: top;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
}
#album:hover{
  border: 2px solid black;
}

#album img{
  width: 15vw;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#album img:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#albumContent{
  width: 95vw;
  margin-top: 20px;
  position: relative;
}

#albumArt{
  margin-left: 5vw;
  float: left;
  vertical-align: bottom;
  width: 40%;
}

#albumInfo{
  float: left;
  /*margin-left: 10vw;*/
  vertical-align: bottom;
  width: 50%;
}

#albumTracks{
  position: absolute;
  width: inherit;
}

.albumTrack{
  border: 1px solid black;
  padding-left: 10px
}

.albumTrack:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

#albumTrackLength{
  position: absolute;
  right: 10px;
}

.songLive{
  border-top: 1px solid black;
  padding-left: 10vw;
  position: relative;
  padding-top:15px;
  padding-bottom: 15px;
}

.songLive p{
  display: inline;
  margin-right: 50px;
}

.tourBottom{
  border-top: 1px solid black;
  height: 1vh;
  width: 100vw;
}

.liveEvent{
  font-weight: bolder;
  font-size: 2em;
}

#trackList{
  border-top: 1px solid black;
  text-align: center;
}
