body {
  padding-top: 5px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(155deg, white 70%, #e9e8e8 90%, #d5d5d5);
  background-size: cover;
  background-attachment: fixed;
  z-index: 0
}

a {
  text-decoration: none;
  color: inherit;
}

#header{
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  background-image: url('../images/banners/laserhead.jpg');
  background-size: cover;
  z-index: 3;
}

#header img{
  margin: 0 auto;
  height: 10vh;
}

#nav{
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#nav ul{
  list-style: none;
  text-align: center;
}

#nav li{
  display: inline;
  margin-right: 10px;
  /*margin-left: 1px;*/
  padding: 14px;
  padding-left: 50px;
  padding-right: 51px;
  font-size: 1.2em;
  position: relative;
}

#nav li:hover{
  background-color: black;
  box-shadow: 2px 2px 6px rgba(0,0,0,.5)
}

#firstNav{
  margin-left: -.5vw;
}

#drop{
  display: none;
  position: absolute;
  left: -40px;
  top: 48px;
  margin: 0 auto;
  vertical-align: middle;
}

#nav li:hover ul{
  display:block;
}

#drop li{
  z-index: 5;
  display: block;
  padding: 0;
  width: 103%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2px;
  padding-left: 4px;
  background-color: white;
  color: black;
  /*border: 1px solid black;*/
  -webkit-transition:background .35s;
  -moz-transition:background .35s;
  -o-transition:background .35s;
  transition:background .35s;
  -webkit-transition:color .2s;
  -moz-transition:color .2s;
  -o-transition:color .2s;
  transition:color .2s;
  box-shadow: 2px 2px 6px rgba(0,0,0,.5)
}

#drop li:hover{
  background-color: black;
  color: white;
}

.shows{
  width: 93.5%;
}

#banner{
  margin: 0 auto;
  text-align: center;
}
#banner img{
  width: 92vw;
}

.tourDate{
  border-top: 1px solid black;
  padding-left: 10vw;
  padding-right: 10vw;
  position: relative;
  z-index: 1;
}

.tourDateSet{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 10vw;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: -10px;
  z-index: 1;
}

.tourDate:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.tourDateLeft{
  display: inline-block;
  top: 10px;
  position: absolute;
  left: 5vw;
}
.tourDateRight{
  display: inline-block;
  /*position: relative;*/
  /*position: absolute;*/
  margin: 0 auto;
  /*left: 30vw;*/
  /*bottom: 15%;*/
  /*vertical-align: middle;*/
  width: 30vw;
  text-align: center;
  vertical-align: middle;
  margin-left: 25vw;
  margin-bottom: 20px;
}

.tourTime{
  position: absolute;
  display: inline-block;
  right: 7vw;
  bottom: 20px;
  float: right;
  text-align: left;
  width: 20vw;
}

.setTime{
  position: absolute;
  display: inline-block;
  right: 1vw;
  bottom: 10%;
  float: right;
  text-align: left;
  width: 20vw;
}
.setTime p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.setSong{
margin: 0 auto;
}

.setNotes{
  color: gray;
  /*position: absolute;*/
  right: 75%;
  font-style: italic;
  margin: 3px;
}

#tourHead{
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100vw;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#tourText{
  font-weight: normal;
  width: 20vw;
  background: transparent;
}

#tourVenue{
  font-weight: bolder;
  font-size: 1.5em;
  width: 30vw;
  text-align: center;
  background-blend-mode: multiply;
}

#albumHeader{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  clear: both;
  text-align: center;
  font-size: 1.5em;
}

#albumContainer{
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

#album{
  display: inline-block;
  margin: 20px;
  margin-bottom: 0;
  width: 15vw;
  font-size: .9em;
  vertical-align: top;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
}
#album:hover{
  border: 1px solid lightgray;
}

#album img{
  width: 15vw;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#album img:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#albumContent{
  width: 95vw;
  margin-top: 20px;
  position: relative;
}

#albumArt{
  margin-left: 5vw;
  margin-right: 5vw;
  float: left;
  vertical-align: bottom;
  width: 30%;

  /*display: inline-block;*/
}

#albumArt img{
  width: 100%;
}

#albumInfo{
  float: left;
  /*margin-left: 10vw;*/
  vertical-align: bottom;
  width: 50%;
  /*display: inline-block;*/
}

#albumTracks{
  position: absolute;
  width: inherit;
}

.albumTrack{
  border: 1px solid black;
  padding-left: 10px
}

.albumTrack:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

#albumTrackLength{
  position: absolute;
  right: 10px;
}

.songLive{
  border-top: 1px solid black;
  padding-left: 10vw;
  position: relative;
  padding-top:15px;
  padding-bottom: 15px;
}

.songLive p{
  display: inline;
  margin-right: 50px;
}

.tourBottom{
  border-top: 1px solid black;
  height: 1vh;
  width: 100vw;
}

.liveEvent{
  font-weight: bolder;
  font-size: 2em;
}

#trackList{
  border-top: 1px solid black;
  text-align: center;
  position: relative;
  padding: 10px;
}

.Making{
  background-image: url('../images/banners/Making.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.Spilling{
  background-image: url('../images/banners/Spilling.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.songStats{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  clear: both;
  text-align: center;
}

.songStats p{
  display: inline-block;
  margin: 20px 80px;
}

.songTitle{
  font-size: 1.5em;
  font-weight: bold;
}

#albumYear{
  font-size: 1.5em;
  margin-top: 0;
}

.tran{
  width: 20px;
  position: absolute;
  bottom: -10px;
  left: 49.5%;
  z-index: 2;
}

.hue{
-webkit-transition:background .5s;
-moz-transition:background .5s;
-o-transition:background .5s;
transition:background .5s;
}
