extends ../layout
block content
  br
  div#tourHead
    p Venue List
  br
  each val, index in results
    a(href='venues/' + results[index].venue)
      div(class='tourDate' class='hue')
        div(class='tourDateLeft')
          p#tourLocation 
            b Location: 
              span#tourText #{results[index].city}, #{results[index].state}, #{results[index].country}
        div(class='tourDateRight')  
          p#tourVenue
            span#tourText #{results[index].venue}
  script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(type='text/javascript' src='javascripts/hue.js')
