extends ../layout
block content
  include ../header
  br
  each val, index in results
    a(href='music/song/' + results[index].trackname + '/')
      div#trackList
        p #{results[index].trackname}
