extends ../layout
block content 
  if username
    div#albumHeader
      h5 Submit a New Setlist
    div#formDiv
      form(method='post' action='/setlists')
        p 
          label(for='title') Event Title
        p
          input#newTitle(name='title', type='text')
        div#newLeft
          label(for='date') Event Date
          p
            input(type='date' name='date')
        div#newRight
          label(for='venue') Event Venue
          p
            input(type='text' name='venue')
        br
        div#newLeft
          label(for='city') Event City
          p
            input(type='text' name='city')
        div#newRight
          label(for='state') Event State
          p
            input(type='text' name='state')
        div#trackList.bottom
          p Setlist
        div#songForm
          div#setSong
            p Total Songs: 
              input#totalSongs(type='text' name='totalSongs' value=1 readonly)
            p#1
              label.newLabel(for='song1') Song 1
              input.newSet(type='text' name = 'song1')
              label.newLabel(for='notes1') Notes
              input.newSet(name = 'notes1')
              img.tranArrow#ta1(src='/images/tranArrow.png')
              input.tranCheck(type='text' name='ta1' readonly value='')
              input#setSubmit(type='submit') 
      button#addSong + song
    else
      h1 You need be be logged in to add a new setlist
        
  script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(type='text/javascript' src='/javascripts/jquery.jadedom.js')
  script(type='text/javascript' src='/javascripts/setlistForm.js')
  script(type='text/javascript' src='/javascripts/tranArrow.js')
  script(type='text/javascript' src='/javascripts/hue.js') 
      
        
